{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
<div class="form-wrapper" data-aos="fade-up">
    <div class="form-container card">
        <h2>Volunteer Login</h2>
        <form method="post">
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <button type="submit" class="btn">Login</button>
        </form>
        <p class="form-footer">Don't have an account? <a href="{{ url_for('auth.register_user') }}">Register here</a></p>
    </div>
</div>
{% endblock %}